{% extends 'header.html' %}
{% load static %}
{% block title %}
<title>{{ first_poll.poll_name }}</title>
{% endblock %}
{% block content %}
<link rel="stylesheet" type="text/css" href="{% static 'css/pollinfomodel_list.css' %}">
<div class="container mt-5 custom-container">
    <div class="card shadow-sm custom-card">
        {% if first_poll %}
        <div class="card-header text-center">
            <h3 class="mt-2">{{ first_poll.poll_name }}</h3>
            <h3 class="mt-2">Тема: {{ first_poll.topic.name_topic }}</h3>
        </div>
        <div class="card-body d-flex flex-column justify-content-between">
            <form method="post" class="p-4 bg-light rounded custom-form">
                {% csrf_token %}
                <div class="form-group">
                    <p class="font-weight-bold text-center">Выберите вариант ответа:</p>
                    {% if first_poll.types == 'POLL' %}
                        {% for key, variant in first_poll.json_variants.items %}
                        <div class="form-check text-left">
                            <input class="form-check-input" type="checkbox" name="variant" id="variant{{ forloop.counter }}" value="{{ key }}">
                            <label class="form-check-label text-left" for="variant{{ forloop.counter }}">
                                {{ key }}
                            </label>
                        </div>
                        {% endfor %}
                    {% else %}
                        {% for key, variant in first_poll.json_variants.items %}
                        <div class="form-check text-left">
                            <input class="form-check-input" type="radio" name="variant" id="variant{{ forloop.counter }}" value="{{ key }}" required>
                            <label class="form-check-label text-left" for="variant{{ forloop.counter }}">
                                {{ key }}
                            </label>
                        </div>
                        {% endfor %}
                    {% endif %}
                </div>
                <div class="mt-auto text-center">
                    <button type="submit" class="btn btn-primary">Проголосовать</button>
                </div>
            </form>
        </div>
        {% else %}
        <div class="card-body text-center"> 
            <p>На данный момент у вас нет опросов. Выберите другую тему </p>
        </div>
        {% endif %}
    </div>
</div>
{% endblock %}
