{% extends 'header.html' %}
{% load static %}
{% block title %}
<title>{{ first_poll.poll_name }}</title>
{% endblock %}
{% block content %}
<link rel="stylesheet" type="text/css" href="{% static 'css/pollinfomodel_list.css' %}">
<div class="container mt-5 custom-container">
    <div class="card shadow-sm custom-card">
        <div class="card-header text-center">
            <h3 class="mt-2">{{ first_poll.poll_name }}</h3>
            <h3 class="mt-2">Тема: {{ first_poll.topic.name_topic }}</h3>
        </div>
        <div class="card-body d-flex flex-column justify-content-between">
            <form method="post" class="p-4 bg-light rounded custom-form">
                {% csrf_token %}
                <div class="form-group">
                    <p class="font-weight-bold text-center">Выберите вариант ответа:</p>
                    {% for variant in first_poll.json_variants %}
                    <div class="form-check text-center">
                        <input class="form-check-input" type="radio" name="variant" id="variant{{ forloop.counter }}" value="{{ variant }}">
                        <label class="form-check-label" for="variant{{ forloop.counter }}">
                            {{ variant }}
                        </label>
                    </div>
                    {% endfor %}
                </div>
                <div class="mt-auto text-center">
                    <button type="submit" class="btn btn-primary">Проголосовать</button>
                    <button type="button" class="btn btn-secondary ml-2">Следующий выбор</button>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}
