{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <title>POLL</title>
    <link rel="stylesheet" href="{%static 'css/head.css'%}">
</head>
<body>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
    <script> src="bootstrap.bundle.min.js / bootstrap.bundle.js"</script>
    <nav class="navbar bg-dark p-2 custom-color">
        <a href="/" class="nav-link link-light p-2 ms-3"><img src="{%static 'img/icon_home.svg'%}" alt=""></a>
        <div class="d-flex justify-content-between gap-4 fs-6 align-items-center p-2 ms-auto w-75">
            <a href="/" class="nav-link link-light">Пройти опрос</a>
            <a href="/" class="nav-link link-light">Создать опрос</a>
            <a href="/" class="nav-link link-light dropdown-toggle bg-dark me-4" data-bs-toggle="dropdown" href="#" role="button" aria-expanded="false"><img src="{%static 'img/profile.svg'%}">
                <ul class="dropdown-menu dropdown-menu-end rounded-3 bg-dark p-1 me-4">
                    <li class="dropdown-items custom-color me-1 ms-1">Будет вход, выход типо</li>
    
                </ul>
            </a>
        </div>
    </nav>
    <div class="m-4">
        {% block content%}
        {% endblock %}
    </div>
</body>
</html>