.custom-container {
    max-width: 25%;
    margin-top: 20vh; /* Увеличенный отступ сверху в относительных единицах */
}

.custom-card {
    min-height: 40vh; /* Минимальная высота в относительных единицах */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-top: 10vh; /* Увеличенный отступ сверху для самой карточки */
}

.custom-form {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.custom-form .mt-auto {
    margin-top: auto;
}

.form-check {
    text-align: left;
}

.form-check-label {
    text-align: left;
    display: block;
    margin-left: 0; /* Убираем отступ слева */
}
